@font-face {
  font-family: 'slim';
  src: url('./assets/fonts/slim.ttf');
}

@font-face {
  font-family: 'appetite';
  src: url('./assets/fonts/appetite.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/roboto.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  width: 100vw;
  height: 100vh;
  transition: background-image 1.5s ease-in-out;
  background-size: cover;
  background-position: center center;
  font-family: 'slim';
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgba(59, 67, 76, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 5px 20px 5px;
  position: relative;
  letter-spacing: 1px;
}

.userName-wrap {
  font-size: 3rem;
}

.userName {
  font-family: 'roboto';
  font-size: 4rem;
}

.userName:focus {
  display: inline-block;
  min-width: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: rgba(60, 158, 86, 0.7);
}

.userFocus-wrap {
  font-size: 2rem;
}

br {
  display: none;
}

.userFocus {
  font-family: 'appetite';
  letter-spacing: 5px;
  font-size: 3rem;
}

.userFocus:focus {
  display: inline-block;
  min-width: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: rgba(224, 139, 74, 0.7);
}

.city {
  font-family: 'roboto';
  letter-spacing: 1px;
  font-size: 3rem;
}

.city:focus {
  display: inline-block;
  min-width: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: rgba(178, 84, 255, 0.7);
}

.date {
  font-size: 4rem;
}

.time {
  font-size: 7rem;
}

.btn-picture {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 4rem;
  height: 4rem;
  border: none;
  background: url(/assets/icons/repeat.png) no-repeat;
  background-size: contain;
}

.btn-quote {
  position: absolute;
  left: 15px;
  bottom: 25px;
  width: 3rem;
  height: 3rem;
  border: none;
  background: url(/assets/icons/change.png) no-repeat;
  background-size: contain;
}

.btn-translate-quote {
  position: absolute;
  left: 65px;
  bottom: 25px;
  width: 3rem;
  height: 3rem;
  border: none;
  background: url(/assets/icons/translate.png) no-repeat;
  background-size: contain;
}

.btn-quote:hover,
.btn-translate-quote:hover,
.btn-picture:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 0.5s;
}

.btn-quote:active,
.btn-translate-quote:active,
.btn-picture:focus,
.btn-picture:active,
.btn-quote:focus {
  outline: 0px;
}

.quote {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2.5rem;
  width: 97%;
  max-width: 800px;
}

.quote blockquote {
  color: red;
  margin-bottom: 10px;
}

.quote figcaption {
  font-family: 'roboto';
  text-align: right;
}

.weather-info {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}

.weather-icon-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 71, 71, 0.4);
  border-radius: 5px;
  padding: 5px;
}

.weather-icon {
  width: 140px;
  height: 140px;
}

.weather-value {
  align-self: flex-start;
}

.weather-value span {
  font-size: 1.2em;
  color: red;
}

.city-wrap {
  margin: 0 auto;
}

.changeable {
  text-decoration: underline 1.5px;
}

@media (max-width: 1000px) {
  .city {
    font-size: 2rem;
  }

  .date {
    font-size: 3rem;
    align-self: flex-end;
  }

  .time {
    font-size: 5rem;
    align-self: flex-end;
  }

  .userName-wrap {
    font-size: 2.2rem;
  }

  .userName {
    font-size: 3.2rem;
  }

  .userFocus-wrap {
    font-size: 1.3rem;
  }

  .userFocus {
    font-size: 2.2rem;
  }

  .quote {
    font-size: 2rem;
  }

  .btn-quote {
    width: 2.5rem;
    height: 2.5rem;
  }

  .btn-translate-quote {
    left: 60px;
    width: 2.5rem;
    height: 2.5rem;
  }

  .btn-picture {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 650px) {
  .city {
    font-size: 1.5rem;
  }

  .weather-info {
    font-size: 1.1rem;
  }

  .weather-icon {
    width: 100px;
    height: 100px;
  }

  .date {
    margin-top: -30px;
    font-size: 2.2rem;
    align-self: flex-end;
  }

  .time {
    font-size: 4rem;
    align-self: flex-end;
  }

  .userName-wrap {
    font-size: 2rem;
  }

  .userName {
    font-size: 3rem;
  }

  .userFocus-wrap {
    font-size: 1.3rem;
  }

  br {
    display: block;
  }

  .userFocus {
    font-size: 2.2rem;
  }

  .quote {
    font-size: 1.6rem;
  }

  .btn-quote {
    width: 2rem;
    height: 2rem;
  }

  .btn-translate-quote {
    left: 55px;
    width: 2rem;
    height: 2rem;
  }

  .btn-picture {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 480px) {

  main {
    width: 100vw;
    height: 90vh;

    padding: 10px 5px 20px 5px;
  }

  .city {
    margin-left: 40px;
    font-size: 1rem;
  }

  .weather-info {
    font-size: 0.8rem;
  }

  .weather-icon {
    width: 60px;
    height: 60px;
  }

  .date {
    margin-top: -80px;
    font-size: 1.3rem;
    align-self: flex-end;
  }

  .time {
    font-size: 3rem;
    align-self: flex-end;
  }

  .userName-wrap {
    font-size: 1.1rem;
  }

  .userName {
    font-size: 2.2rem;
  }

  .userFocus-wrap {
    font-size: 1.1rem;
  }

  .userFocus {
    font-size: 1.7rem;
  }

  .quote {
    font-size: 1.2rem;
  }

  .btn-quote {
    width: 1.2rem;
    height: 1.2rem;
  }

  .btn-translate-quote {
    left: 50px;
    width: 1.2rem;
    height: 1.2rem;
  }

  .btn-picture {
    width: 1.7rem;
    height: 1.7rem;
  }
}